.att-bonus-container {
    display: flex;
    margin-top: 0rem;
    padding: 0rem;
}

.att-bonus-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
}

.att-bonus-text {
    margin-top: 0;
    margin-right: 1rem;
}