.publicCharacterCard {
    padding: 0em;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
    border: solid #031926 2px;
    margin: 1rem;
    width: 15rem;
    /* transition: all 0.3s ease-in-out; */
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #fdfffc;
    font-family: Bona Nova;
    
}

.publicCharacterCard:hover {
    /* transform: scale(1.05, 1.05); */
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}



.character-card-text {
    padding: 0.5rem;
}

.character-card-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-username {
    margin-top: -1rem;
}

.character-card-title {
    margin-top: 0rem;    
}

.character-card-class {
     margin-top: -1rem;
}

.character-card-link {
    color: #031926;
}

