.attributes-container {
    display: flex;
}

.equipment-container {
    display: flex;
}

.attribute-value {
    border: solid 1px black; 
    margin: 1rem;
    padding: 1rem;
}

.single-attribute-container {
    border: solid 1px black;
    margin: 1rem;
    padding: 0.5rem;
}