.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    margin-right: 2rem;
    margin-bottom: 3rem;;
    border-bottom: 2px gray solid
}

.current-page-name {
    color: #E84855;
}

.not-current-page-name {
    color: lightgray;
}