html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* background: #fdfffc; */
  color: #031926;
  background: linear-gradient(94deg, #fdfffc, #fdfffc, #fdfffc, #f0f0f0, #e5edee, #f0f0f0, #fdfffc, #fdfffc, #fdfffc, #fdfffc, #fdfffc, #e4fffe, #dafffe, #ecfffe);
    background-size: 2800% 2800%;

    -webkit-animation: AnimationName 35s ease infinite;
    -moz-animation: AnimationName 35s ease infinite;
    animation: AnimationName 35s ease infinite;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4 { 
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@-webkit-keyframes AnimationName {
  0%{background-position:67% 0%}
  50%{background-position:34% 100%}
  100%{background-position:67% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:67% 0%}
  50%{background-position:34% 100%}
  100%{background-position:67% 0%}
}
@keyframes AnimationName {
  0%{background-position:67% 0%}
  50%{background-position:34% 100%}
  100%{background-position:67% 0%}
}

/* @-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
} */

@font-face {
  font-family: "earthorbiter";
  src: local("earthorbiter"),
    url("./fonts/earthorbiter.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "CinzelRegular";
  src: local("CinzelRegular"),
    url("./fonts/CINZELDECORATIVE-REGULAR.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AngarsRunes";
  src: local("AngarsRunes"),
    url("./fonts/ANGARSRUNES_PERSONAL.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Bellefair";
  src: local("Bellefair"),
    url("./fonts/BELLEFAIR-REGULAR.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Bona Nova";
  src: local("Bona Nova"),
    url("./fonts/BONANOVA-REGULAR.TTF") format("truetype");
  font-weight: normal;
}



.site-container {
  padding: 1rem 0rem;
}