.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    
    font-family: CinzelRegular;
    /* border-bottom: solid #031926 2px; */
    
    margin-bottom: 0;
    
    
}

.navbar__item {
    list-style-type: none;
}

.navbar__userinfo__div{
    display: flex;
    width: 28rem;
    justify-content: space-between;
    margin-top:-1.4rem;
}

.header-title {
    font-family: CinzelRegular;
}

.navbar__link{
    color: #031926;
    text-decoration: none;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.navbar__link:hover {
    color: #E84855
}
