.login--page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 8rem;
    border: solid black 1.5px;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fdfffc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.login--welcome {
    font-family: CinzelRegular;
    font-size: 35px;
}

.login--signin-text{
    font-family: Bona Nova;
}

.form--login {
    font-family: Bona Nova;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 15rem;
    height: 2rem;
    font-size: 16px;
    font-family: Bona Nova;
}

.form-field {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.submitButton {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .1rem;
  border: solid black 1.5px;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Bona Nova;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: .25rem .5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton:not(:disabled):hover {
  transform: scale(1.05);
}

.submitButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.submitButton:focus {
  outline: 0 solid transparent;
}

.submitButton:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.submitButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.submitButton:focus:not(:focus-visible):before {
  border-width: 0;
}

.submitButton:not(:disabled):active {
  transform: translateY(.125rem);
}

.login--link{
    color: black;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.login--link:hover {
    color: #E84855
}
